/* region general styles */
.error {
	color: #bf1515;
	font-size: 1.8rem;
}

.button {
	display: inline-block;
	height: 3rem;
	padding: 0 1rem 0;
	background: #b22222;
	border-radius: 1.5rem;
	line-height: 3rem;
	text-align: center;
	text-shadow: 1px 1px 0 #444;
	color: #fff;
	border-style: solid;
	border-color: #961d1d;
	border-width: 0 0.2rem 0.2rem 0;
}

.button:active {
	background: #961d1d;
	border-color: #b22222;
	color: #dedede;
}
/* endregion */

/* region NavBar */
.logo {
	font-size: 22px;
	color: #1ac5ff;
}

.logoMain:hover {
	cursor: pointer;
}

.logoInitial{
	font-size: 26px;
	font-weight: bold;
	color: #e67300;
}

.logoTrail {
    font-size: 14px;
    margin-left: 5px;
    color: white;
    top: 2px;
    position: relative;
}

.welcome {
	margin-top:15px;
	font-size:18px;
	color:gray;
}

.welcomeName {
	font-size: 18px;
	margin-left: -15px;
}

.rightNavItem {
	display: inline !important;
	top: -15px;
}

.navDivider {
	margin-right: 8px;
}

.navDropItem {
	font-size:18px;
	width: 100%;
}

#navProfileItem:hover {
	background-color: #ffdab3 !important;
	color: black !important;
}

.dashboardMain {
	float: right;
	text-align: center;
	width: 100%;
}
/* endregion */

/* region GameList */
.gameList {
	width: 45rem;
	margin: auto;
	line-height: 3rem;
}

.gameList > li {
	height: 3rem;
	margin-bottom: 1rem;
}
/* endregion */

/* region GameMap */
.echoBtn {
	display: block;
	min-width: 25rem;
	width: 30%;
	margin: auto;
	margin-top: 1rem;
}
/* endregion */

/* region Profile */
.profileUser {
	width: 20rem;
	margin: auto;
}

.profileHeader {
	color: #b22222;
	text-shadow: 1px 1px 0 #444;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0;
}

.mapDisplay {
	width: 75%;
	height: 35rem;
	margin: auto;
	margin-bottom: 5rem;
}
/* endregion */
